# API Endpoints
VITE_API_ALUNOS=""
VITE_API_LOGIN=""
VITE_API_CEP=""
VITE_API_MOEDA=""
VITE_API_FABRICAde=""
VITE_API_FABRICA=""
VITE_API_FABRICA_OPERACAO=""
VITE_API_FABRICAADM=""
VITE_API_LOGIN_GESTAO=""
VITE_API_POSVENDA=""
VITE_API_APOIO=""
VITE_API_INTELIGENCIA=""
VITE_API_FACTORY=""
VITE_API_NOTAFISCAL=""
VITE_API_FABRICADEV=""
VITE_API_COTACAO="https://economia.awesomeapi.com.br/json"
VITE_API_IMPORTACAO=""

# App Configuration
VITE_INVERTEXTO_TOKEN=""
VITE_URL_PROCESSOS_PROCEDIMENTOS=""
VITE_URL_MASTERSALES=""
VITE_URL_FLUIG=""
VITE_URL_PROTHEUS=""
VITE_REACT_APP_VERSION=""
VITE_ESLINT_NO_DEV_ERRORS=true
