body {
    font-family: 'open sans', sans-serif;
    font-size: 16px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    position: left;
  }
  thead {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  thead tr {
    color: red;
    text-align: left;
    border-bottom: 2px solid black;
  }
  
  thead th {
    color: red;
    text-align: left;
    border-bottom: 2px solid black;
  
  }
  
  thead button {
    background: transparent;
    border: 0;
    border-radius: none;
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    padding: 0.5em;
    margin-bottom: 1px;
    color: #ccc;
  }
 
  thead button:hover {
    color: rgb(69, 69, 175);
    text-decoration: underline;
  }
  
  thead button.ascending::after {
    content: '\2193';
    display: inline-block;
    margin-left: 1em;
  }
  
  thead button.descending::after {
    content: '\2191';
    display: inline-block;
    margin-left: 1em;
    color: #ccc;
  }
  
  tbody td {
    text-align: left;
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
    font-size: .7rem;
  }
  tbody{
    margin-left: 50%;
  }
  
  .tr-data:hover {
    animation-name: backgroundColorHoverTrData !important;
    animation: linear .75s;
  
  }
  .coluna:hover {
    animation-name: backgroundColorHoverTrData !important;
    animation: linear .75s;
  
  }
  .osCancelado {
    background-color: #f19bb2;
    background-image: linear-gradient(326deg, #f19bb2 0%, #ffb4a0 74%);
    text-decoration: line-through;    
  }
    
  .osEntregue {
    background-color: #adf3ff;
    background-image: linear-gradient(315deg, #9cf0ff 0%, #9eff93 74%);
  }
  
  @keyframes backgroundColorHoverTrData {
    from {
      background: linear-gradient(to right, rgb(140, 216, 156)  25%, rgba(255, 255, 0, 0) 50%, rgba(0, 128, 0, 0) 75%, rgba(0, 0, 255, 0) 100%);
    }
    /* 50% {
      background: linear-gradient(to right, rgb(140, 216, 156)  25%, rgb(140, 216, 156) 50%, rgba(0, 128, 0, 0) 75%, rgba(0, 0, 255, 0) 100%);
  
    }
    75% {
      background: linear-gradient(to right, rgb(140, 216, 156)  25%, rgb(140, 216, 156) 50%, rgb(140, 216, 156) 75%, rgba(0, 0, 255, 0) 100%);
  
    } */
  
    to {
      background: linear-gradient(to right, rgb(140, 216, 156)  25%, rgb(140, 216, 156) 50%, rgb(140, 216, 156) 75%, rgb(140, 216, 156) 100%);
    }
  }
  
  .tr-bloqueada {
    background-color: rgb(195, 195, 195);
  }                 